.homeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.homeWordsContainer {
    justify-content: left;
    margin-left: 80px;
}

.homeName {
    font-size: 90px;
    margin: 0;
}

.homeDegree {
    font-size: 40px;
    font-style: italic;
    font-weight: normal;
    margin-top: 0;
}

.homeDescription {
    font-size: 20px;
    padding-right: 25px;
}

.homeProfileContainer {
    justify-content: right;
    z-index: -1;
}

.homeProfile {
    width: 650px;
    opacity: 0.5;
    border-radius: 50%;
    margin: 25px;
}

@media screen and (max-width: 1250px) {
    .homeProfileContainer {
        display: none;
    }

    .homeContainer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .homeWordsContainer {
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    .homeName {
        font-size: 50px;
        margin-top: 20px;
    }
    
    .homeDegree {
        font-size: 30px;
        margin-top: 20px;
    }
    
    .homeTitles {
        font-size: 20px;
    }
}